html {
    color-scheme: light dark;
    --color-accent: oklch(65% 50% 0);
}

body {
    font: 100%/1.5 system-ui, sans-serif;
    max-width: 100ch;
    margin-inline: auto;
    padding: 2rem;
}

nav {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
    --border-color: oklch(50% 10% 200 / 40%);
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    padding-bottom: 0.1em;
}

img {
    max-width: 100%;
    height: auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

article {
    border: 1px solid var(--border-color);
    padding: 1em;
    border-radius: 0.5em;
}

form {
    display: grid;
    gap: 1em;
    max-width: 30em;
}

label {
    display: grid;
    gap: 0.25em;
}

input,
textarea,
button,
select {
    font: inherit;
}

textarea {
    min-height: 8em;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
}