html {
    color-scheme: light dark;
    --color-accent: oklch(65% 50% 0);
    --border-color: oklch(50% 10% 200 / 40%);
}

body {
    font: 100%/1.5 system-ui, sans-serif;
    max-width: 100ch;
    margin-inline: auto;
    padding: 2rem;
}

nav {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    padding-bottom: 0.1em;
}

img {
    max-width: 100%;
    height: auto;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}

article {
    border: 1px solid var(--border-color);
    padding: 1em;
    border-radius: 0.5em;
}

form {
    display: grid;
    gap: 1em;
    max-width: 30em;
}

label {
    display: grid;
    gap: 0.25em;
}

input,
textarea,
button,
select {
    font: inherit;
}

textarea {
    min-height: 8em;
}

.color-scheme {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
}

.chart-container {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-block: 2em;
}

#projects-pie-plot {
    max-width: 20em;
    overflow: visible;
}

#projects-pie-plot path {
    cursor: pointer;
    transition: 300ms;
}

#projects-pie-plot:has(path:hover) path:not(:hover) {
    opacity: 0.5;
}

.legend {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 0.75em;
    border: 1px solid var(--border-color);
    padding: 1em;
    margin: 0;
    list-style: none;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.swatch {
    width: 1em;
    aspect-ratio: 1 / 1;
    background: var(--color);
    border-radius: 50%;
    display: inline-block;
}

.selected {
    --color: oklch(60% 45% 0) !important;
}

.selected:is(path) {
    fill: var(--color);
}

.searchBar {
    width: 100%;
    margin-block: 1em;
    padding: 0.5em;
}